VITE_SUPABASE_URL=https://moiqwperaqwfpxbjvthu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1vaXF3cGVyYXF3ZnB4Ymp2dGh1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3NjU3MzYsImV4cCI6MjA4OTM0MTczNn0.YV_EUMsndsM-nJuDGQnT1Hq_ymyMHHTC0dcSyB8PC5U
